#cards {
    margin-top: 35px;
}

.card-fab {
    position: absolute;
    top: 30px;
    right: 30px;
}

.profile-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

#loading {
    display: none;
    position: absolute;
    top: 48%;
    left: 48%;
}