{% extends "layout.html" %}

{% block title %} Catalog {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<section id="cards" class="section--center mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
  <div class="mdl-card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">Categories</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% if cats %}
      <ul>
	{% for c in cats %}
	<li><a href="{{ url_for('items', cat_name = c.name) }}">{{ c.name }}</a></li>
	{% endfor %}
      </ul>
      {% else %}
      <h5>It looks lonely here with no categories :(</h5>
      {% endif %}
    </div>
  </div>
  <div class="mdl-card-square mdl-card mdl-shadow--8dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">Recent Items</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {% if items %}
      <ul>
	{% for i in items %}
	<li>
	  <a href="{{ url_for('itemDesc', cat_name=i.category.name, item_name=i.name) }}">
	    {{ i.name }}
	  </a>
	  <i>({{ i.category.name }})</i>
	</li>
	{% endfor %}
      </ul>
      {% else %}
      <h5>It looks lonely here with no items :(</h5>
      {% endif %}
    </div>
    <a href="{{ url_for('itemNew') }}" class="card-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">create</i>
    </a>
  </div>
  <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
</section>
{% endblock %}
