{% extends "layout.html" %}

{% block title %} Catalog {% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>New Item</h1>
  <form method="POST" action="{{ url_for('itemNew') }}">
    <p>Name:</p>
    <input name="item_name" type="text" maxLength="80">
    <p>Description:</p>
    <input name="item_desc" type="text" maxLength="500">
    <p>Category:</p>
    {% if numcats == 0 %}
    <p>You should probably put some categories in the database!</p>
    {% else %}
    <select name="item_cat_name">
      {% for c in cats %}
      <option value="{{ c.name }}">{{ c.name }}</option>
      {% endfor %}
    </select>
    {% endif %}
    <br><br>
    <input type="submit" value="Submit!">
  </form>
{% endblock %}
